b, strong
{
    font-weight: 500;
}

i, em
{
    font-style: italic;
}

u, ins
{
    text-decoration: underline;
    text-underline-offset: .15em;
}

del
{
    text-decoration: overline solid;
}

a
{
    color: inherit;
    text-decoration-color: var(--c-accent); // slightly gray
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.125rem;

    &[href]
    {
        text-decoration-color: var(--c-accent);
    }
}

cite
{}

mark
{}

code
{
    display: inline-block;
}

q
{
    &::before
    {
        content: '❝';
    }

    &::after
    {
        content: '❞';
    }
}

blockquote
{
    display: block;

    &::before, &::after
    {}

    &::before
    {
        content: '❝';
    }

    &::after
    {
        content: '❞';
    }

    > cite::before,
    > footer::before
    {
        content: '—';
    }
}

img
{
    display: inline-block;
    object-fit: scale-down;
    object-position: center;

    margin-inline: auto;
    max-width: 100%;
    max-height: var(--h-photo, 640px);

}