// Screen Size Threshold (up to April 2024)
// - https://gs.statcounter.com/screen-resolution-stats

// Mobile (first)
:root
{
    // Round corner
    --round-xs: .0625rem;
    --round-sm: .125rem;
    --round-md: .25rem;
    --round-lg: .50rem;
    --round-xl: .75rem;
    --round-2xl: 1rem;

    // Shadow
    // Elevation - sun on the top that casting shadow
    --elevation-xs: 0 var(--spacing-3xs) var(--spacing-2xs) var(--c-elevation);
    --elevation-sm: 0 var(--spacing-2xs) var(--spacing-xs) var(--c-elevation);
    // Glowing - sun in front that casting shadow
    // --glowing-xs: 1px 1px var(--c-glowing);

    // Z-index [--z-]
    --z-dropdown: 100;
    --z-backdrop: 101;
    --z-popup: 102;
    --z-sticky: 103;
    --z-alert: 105;
    --z-tooltip: 109;

    // SPECIAL: scale the whole site 
    // This is meant for big device such as TV
    --wholescale: 16px; // (immutable from responsivenes)
}

// Tablet (≥ 432px)
@media screen and (min-width: 432px)
{
    :root
    {}
}

// Desktop (≥ 1366px)
@media screen and (min-width: 1366px)
{
    :root
    {}
}

// Light Color Palette [--c-]
:root, [data-theme="light"]
{
    /* @see /src/frontend/critical/_cfg.scss */
}

// Dark Color Palette [--c-]
[data-theme="dark"]
{
    --c-brand: hsl();
    --c-accent: hsl();

    --c-tx: hsl(0 0% 90%);
    --c-bg: hsl(0 1% 9%);

    // TODO replace with color-mix in the next 1 years
    --c-tx-lighter: hsl(0 0% 88%);
    --c-bg-lighter: hsl(0 2% 36%);
}