@use 'sass:meta';

@layer setup
{
    @include meta.load-css('./base/cfg');
}

@layer base
{
    :root
    {
        font-size: var(--wholescale, 16px); // (immutable from responsivenes)
    }

    *
    {
        box-sizing: border-box;
    }

    a[href]:hover
    {
        color: var(--c-accent-brighter);
    }

    p
    {
        margin: 0;
        margin-block-end: 1em;
    }
}

@layer layout
{
    .page-header
    {
        position: relative;

        // Flex display from .wrapper-top
        justify-content: center;

        padding-block: var(--spacing-xl);
        min-height: calc(var(--size-xl) * 5);

        text-align: center;

        .cover
        {
            position: absolute;
            inset: 0;
            z-index: -1;

            > img
            {
                display: block;
                object-fit: cover;
                object-position: center;

                width: 100%;
                height: 100%;
            }
        }

        hgroup
        {
            h1
            {
                margin: 0;

                font-weight: 900;
                line-height: 1.5;
            }

            p
            {
                margin: 0;

                line-height: 1.5;
            }
        }
    }

    .sticky-bar
    {
        position: sticky;
        inset-block-start: 0;
        inset-inline: 0;
        z-index: var(--z-sticky);

        border-block: 1px solid var(--c-tx);

        background-color: var(--c-bg);
    }

    .page-body
    {
        flex-grow: 1;
        gap: var(--spacing-lg);

        padding-block: var(--size-2xl);
    }

    .page-footer
    {
        gap: var(--spacing-xl);

        padding-block: var(--spacing-lg);

        box-shadow: var(--elevation-xs);

        > menu
        {
            list-style: none;

            display: flex;
            justify-content: center;
            gap: var(--spacing-md);

            margin: 0;
            padding: 0;

            li
            {}
        }
    }
}

@layer component
{
    .social-network
    {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin: 0;
        padding: 0;
    }

    .main-menu
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-md);

        padding-block: var(--spacing-xs);
        width: 100%;
    }

    blockquote
    {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        margin: 0;

        > p
        {
            margin: 0;
        }

        > footer
        {
            font-size: 0.75em;
        }

        cite
        {
            font-style: normal;
        }
    }

    button,
    [role="button"],
    a[role="button"]
    {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);

        border-radius: var(--round-md);
        border: .125rem solid var(--c-btn-border);
        padding-block: var(--spacing-sm);
        padding-inline: var(--spacing-md);

        font-family: var(--f-text);
        font-weight: 500;
        line-height: 1;
        text-decoration: none;

        color: var(--c-btn-tx);
        background-color: var(--c-btn-bg);

        transition:
            outline 1s ease,
            color 550ms ease-out,
            background-color 750ms ease-out;

        cursor: pointer;

        // plain button
        &
        {
            --c-btn-border: var(--c-tx);
            --c-btn-tx: var(--c-tx);
            --c-btn-bg: var(--c-bg);

            --c-btn-border-hover: var(--c-accent);
            --c-btn-tx-hover: var(--c-tx-lighter);
            --c-btn-bg-hover: var(--c-bg-lighter);

            --c-btn-border-focus: var(--c-accent);
        }

        // main button
        &.main
        {}

        // sub button
        &.sub
        {}

        &:hover
        {
            border-color: var(--c-btn-border-hover);
            color: var(--c-btn-tx-hover);
            background-color: var(--c-btn-bg-hover);
        }

        &:focus
        {
            outline: none;
            border-color: var(--c-btn-border-focus);
        }
    }

}

@layer modifer
{
    .textless
    {
        font-size: 0;
        line-height: 0;
    }

    .clamp-line-2
    {
        /**
         * Require fit content height!
         * If the height being stretched by flex or grid,
         * apply the below suggestions on the items to fix the height:
         *  - align-self
         *  - justify-self
         *  - align-item
         *  - justify-content
         *  - etc.
         */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}