@use 'sass:meta';
@layer setup, base, layout, component, modifier, crucial;

@layer setup
{
    @include meta.load-css('./critical/cfg');

    *
    {
        box-sizing: border-box;
    }

    body
    {
        display: flex;
        flex-direction: column;

        margin: 0;
        min-height: 100vh;

        font-family: var(--f-text, sans-serif);
        font-size: var(--f-size);
        line-height: 1.5;

        background-color: var(--c-bg);
    }

    a
    {
        text-decoration: underline;
        text-underline-offset: .15em;

        transition: color 550ms ease-out;
        cursor: inherit;

        &[href]
        {
            color: var(--c-accent);
            cursor: pointer;
        }
    }

    h1, h2, h3,
    h4, h5, h6
    {
        font-weight: 500;
        font-family: var(--f-heading, serif);
        line-height: 1.15;
    }

    h1
    {
        font-weight: 400;
        font-size: var(--f-h1);
        line-height: 1.1;
    }

    h2
    {
        font-size: var(--f-h2);
    }

    h3
    {
        font-size: var(--f-h3);
    }

    h4
    {
        font-size: var(--f-h4);
    }

    h5
    {
        font-size: var(--f-h5);
    }

    h6
    {
        font-weight: 600;
        font-size: var(--f-h6);
    }
}

@layer component
{
    .wrapper-top
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-inline: var(--spacing-md);
    }

    .container
    {
        max-width: var(--container-lg, unset);
    }
}