@layer layout
{
    #maincontent
    {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        gap: var(--spacing-lg);

        width: 100%;

        h2
        {
            flex-basis: 100%;
            flex-shrink: 0;

            margin: 0;

            line-height: 1.1;
        }

        article.excerpt
        {
            flex-basis: 100%;
            flex-shrink: 0;
            flex-grow: 1;

            max-width: 31.25rem;
        }
    }

    #maincontent + aside
    {
        margin-block-start: var(--spacing-md);
    }

    .pagi
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-md);

        :is(a, span, button)
        {
            flex-basis: 0;
            flex-shrink: 0;
            flex-grow: 1;
        }
    }
}

@layer component
{
    article.excerpt
    {
        --excerpt-thumb-sz: var(--size-xs);
        border-radius: var(--round-sm);
        border: .125rem solid var(--c-tx);
        padding: var(--spacing-md);

        word-break: break-word;

        // box-shadow: var(--elevation-xs);
        background-color: var(--c-bg);

        > a
        {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: var(--excerpt-thumb-sz) auto;
            grid-template-rows: auto 1fr auto;
            gap: var(--spacing-xs) var(--spacing-md);

            text-decoration: none;

            color: inherit;
        }

        a > :nth-child(2)
        {
            margin-block-start: var(--spacing-xs);
        }

        a > :last-child
        {
            margin-block-end: var(--spacing-xs);
        }

        img
        {
            grid-row: 1 / -1;

            display: block;
            object-fit: cover;
            object-position: center;

            border-radius: var(--round-md);

            min-height: var(--excerpt-thumb-sz);
            width: var(--excerpt-thumb-sz);
        }

        time
        {
            font-size: .55em;
            line-height: 1;
        }

        h3
        {
            align-self: start;

            margin: 0;

            font-family: var(--f-text);
            font-size: 1em;
            line-height: 1.3;
        }

        small
        {
            justify-self: end;

            border-radius: var(--round-sm);
            padding-inline: var(--spacing-sm);

            font-size: .6em;
            line-height: 2;
            text-align-last: end;
            text-transform: uppercase;

            color: var(--c-accent-500, blue);
            background-color: var(--c-accent-100, lightblue);
        }
    }
}