// Screen Size Threshold (up to April 2024)
// - https://gs.statcounter.com/screen-resolution-stats

// Mobile (first)
:root
{
    // Container (immutable from responsivenes)
    --container-sm: 32rem;
    --container-md: 50rem;
    --container-lg: 75rem;

    // Spacing
    --spacing-scale: 1;
    --spacing-3xs: .125rem;
    --spacing-2xs: .25rem;
    --spacing-xs: .5rem;
    --spacing-sm: .75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1.5rem;
    --spacing-2xl: 1.75rem;
    --spacing-3xl: 2rem;
    --spacing-4xl: 2.25rem;
    --spacing-5xl: 2.5rem;
    --spacing-6xl: 2.75rem;
    --spacing-7xl: 3rem;
    --spacing-8xl: 3.25rem;
    --spacing-9xl: 3.5rem;

    // Size
    --size-scale: 1;
    --size-5xs: 2rem;
    --size-4xs: 3rem;
    --size-3xs: 4rem;
    --size-2xs: 5rem;
    --size-xs: 6rem;
    --size-sm: 7rem;
    --size-md: 8rem;
    --size-lg: 9rem;
    --size-xl: 10rem;
    --size-2xl: 11rem;
    --size-3xl: 12rem;
    --size-4xl: 13rem;
    --size-5xl: 14rem;

    // Typography [--f-]
    --f-display: Cambria, Cochin, 'Times New Roman', serif; //todo
    --f-heading: Cambria, Cochin, 'Times New Roman', serif; //todo
    --f-text: 'Segoe UI', Verdana, Tahoma, sans-serif; //todo
    --f-code: 'Courier New', Courier, monospace; //todo
    --f-size: 1rem;
    --f-h1: 3.00rem;
    --f-h2: 2.50rem;
    --f-h3: 2.00rem;
    --f-h4: 1.75rem;
    --f-h5: 1.50rem;
    --f-h6: 1.25rem;
}

// Tablet (≥ 432px)
@media screen and (min-width: 432px)
{
    :root
    {
        --f-size: 1.125rem;
    }
}

// Desktop (≥ 1366px)
@media screen and (min-width: 1366px)
{
    :root
    {
        --f-size: 1.25rem;
    }
}

// Light Color Palette [--c-]
:root,
[data-theme="light"]
{
    --c-brand: hsl(240 100% 25%);
    --c-accent: hsl(205 100% 50%);
    --c-tx: hsl(0 5% 9%);
    --c-bg: hsl(0 0% 90%);
    --c-elevation: hsl(0 5% 9% / 19%);

    // TODO replace with color-mix in the next 1 years
    --c-tx-lighter: hsl(0 2% 21%);
    --c-bg-lighter: hsl(0 0% 97%);
}